@import "./assets/css/navbar.css";
@import "./assets/css/carousel.css";

@media screen and (min-width: 768px){
    .navbar {
        position: absolute;
        width: 100%;
        z-index: 10;
        max-width: 100%;
    }
    
}
