.navbar a {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.navbar .dropdown-menu {
    border: none;
    background-color: transparent;
}

.navbar .navbar-toggler-icon {
    filter: grayscale(1) invert(1);
}